**/.DS_Store
Amore.xcodeproj/xcuserdata/
/Pods/
/.idea/
Amore.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
Podfile.lock
Amore.xcworkspace/xcuserdata
Amore.xcworkspace/xcshareddata/swiftpm/Package.resolved