<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>781210790800-4jq1ubjfnlcu3bkeqv6bgadec18fie53.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.781210790800-4jq1ubjfnlcu3bkeqv6bgadec18fie53</string>
	<key>API_KEY</key>
	<string>AIzaSyDF2UFngAADafOXiKSK0ylBps434eBxLTg</string>
	<key>GCM_SENDER_ID</key>
	<string>781210790800</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Com.LuvAmore.Staging</string>
	<key>PROJECT_ID</key>
	<string>amore-staging</string>
	<key>STORAGE_BUCKET</key>
	<string>amore-staging.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:781210790800:ios:8c685e6b649719232e6115</string>
</dict>
</plist>